<div class="post">
  <div class="header">
    <h1>Post Title</h1>

    <button routerLink="/" class="btn btn-link">
      To Home Page
    </button>
  </div>
  <div class="info">
    <strong>Author</strong>
    <small>12/09/2019</small>
  </div>
  <div class="text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis ducimus
    beatae libero voluptate quod omnis modi ipsum? Eligendi, obcaecati impedit.
    Ducimus minima laborum accusamus tempora sapiente esse porro eos? Eaque
    delectus, placeat asperiores, veniam nesciunt nam architecto error natus
    perferendis voluptas, velit facere exercitationem eius vel deleniti non
    laudantium sed.
  </div>
</div>
